<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>List of Tasks</title>
    </head>
    <body>
        <h2>Task List</h2>

        <a th:href="@{'/tasks/addTasksPage'}">Add Task</a>

        <br/>

        <table th:if="${ not #lists.isEmpty(tasks) }" border=1>
        <tr>
            <td>Task Name</td>
            <td>Assigned To</td>
            <td>Date</td>
            <td>Priority</td>
            <td>Status</td>
        </tr>
        <tr th:each="tasks : ${tasks}">
            <td th:text="${tasks.taskName}"></td>
            <td th:text="${tasks.assignedTo}"></td>
            <td th:text="${tasks.date}"></td>
            <td th:text="${tasks.priority}"></td>
            <td th:text="${tasks.status}"></td>
        </tr>
    </table>

</body>
</html>