<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Add Tasks</title>
    </head>
    <body>
        <h2>Add Tasks </h2>
        <br/>
        <br/>
        <br/>

        <form method="post" action="/tasks/addTask">
            <table border=0 >
            <tr><td align="right">Task Name:</td><td align="left"><input type="text" name="taskName" size="50"></input></td></tr>
            <tr><td align="right">Assigned To:</td><td align="left"><input type="text" name="assignedTo" size="50"></input></td></tr>
            <tr><td align="right">Date:</td><td align="left"><input type="date" name="date" size="50"></input></td></tr>
            <!-- <tr><td align="right">:</td><td align="left"><input type="text" name="title" size="50"></input></td></tr> -->
            <tr><td align="right">Priority:</td><td align="left"><input type="radio" name="priority" value="high"> High<input type="radio" name="priority" value="medium"> Medium<input type="radio" name="priority" value="low"> Low</td></tr>
            <tr><td align="right">Status:</td><td align="left"><input type="text" name="status" size="50"></input></td></tr>
            <!-- <tr><td align="right">Age:</td><td align="left"><input type="text" name="age" size="50"></input></td></tr> -->
            <tr><td align="right"></td><td align="left"><input type="submit"></input></td></tr>
        </table>
    </form>

</body>
</html>